pipe_struct:
  data:
    loaders:
      Load data to disk
    preprocessors:
      Preprocess data 
  features:
    extractors:
      Extract features from data
    transformers:
      Transform features
