pipe_struct:
  data:
    loaders:
      Load data to disk
    preprocessors:
      Preprocess data 
    post_preprocess:
      Load new data with reduced initial data
  features:
    extractors:
      Extract features from data
    transformers:
      Transform features
